# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
*.tsbuildinfo

# Turbo
.turbo

# Coverage
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.claude

# Scripts for generating color lists
scripts/
